.navbar-default {
  @nest .navbar-nav .open, @nest .navbar-nav li {
    a {
      &:active,
      &:focus,
      &:hover {
        background-color: $dropdown-menu-hover-color;
        color: $dropdown-menu-color;
      }
    }
  }
}

.navbar-fixed-left {
  border-radius: 0;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;

  .navbar-nav {
    li {
      float: none;
    }
    @nest li.dropdown-menu {
      margin-left: 123px;
      margin-top: -50px;
    }
  }

  .container {
    padding-left: 160px;
  }
}

.dropdown-menu {
  @nest li a {
    &:focus,
    &:hover {
      background-color: $dropdown-menu-background-color;
      color: $dropdown-menu-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    li {
      a {
        padding-bottom: $dropdown-menu-padding-bottom;
        padding-top: $dropdown-menu-padding-top;
      }
    }
  }
}
