$body-padding-top: 70px;


$dropdown-menu-color: #FFFFFF;
$dropdown-menu-background-color: #2196F3;
$dropdown-menu-hover-color: #2196F3;

$dropdown-menu-padding-top: 10px;
$dropdown-menu-padding-bottom: 10px;


$section-title-color: #FFFFFF;
$section-title-background-color: #2196F3;

$forecaster-background: rgba(184, 216, 229, 0.8);
$forecaster-color: #24383F;
$forecaster-name-color: #FFFFFF;
$forecaster-name-background-color: #2196F3;
$forecaster-photo: 70px;

$standing-photo: 29px;


$splitbar-color: #2196F3;