$body-padding-top: 70px;
$body-color: #333;
$dropdown-menu-color: #fff;
$dropdown-menu-background-color: #2196f3;
$dropdown-menu-hover-color: #2196f3;
$dropdown-menu-padding-top: 10px;
$dropdown-menu-padding-bottom: 10px;
$section-title-color: #fff;
$section-title-background-color: #2196f3;
$forecaster-background: rgba(184, 216, 229, .8);
$forecaster-color: #24383f;
$forecaster-name-color: #fff;
$forecaster-name-background-color: #2196f3;
$forecaster-photo: 70px;
$standing-photo: 29px;
$splitbar-color: #2196f3;
$mask-background-color: rgba(0, 0, 0, .5);
