<nav class="navbar navbar-default navbar-fixed-left">
  <ul class="nav navbar-nav">

    <li><a ng-href="#/">Accueil</a></li>

    <!--li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matches <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Ligue 1</a></li>
        <li><a href="#">Ligue des Champions</a></li>
        <li><a href="#">Europa League</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Coupe de France</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Barrages</a></li>
      </ul>
    </li-->

    <li><a ng-href="#/forecasters">Pronostiqueurs</a></li>

    <li><a ng-href="#/standings">Classements</a></li>

    <li><a ng-href="#/trophies">Trophées</a></li>

  </ul>
</nav>


