@import 'partials/_variables';
@import 'partials/_navbar';

body {
  color: $body-color;
  padding-top: $body-padding-top;
}

.centered {
  text-align: center;
}

form {
  margin-left: 10px;
}

.ui-layout-row > .ui-splitbar {
  background: $splitbar-color;
}

.forecaster-frame {
  background: $forecaster-background;
  color: $forecaster-color;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 2px;
  padding-top: 10px;
  text-align: center;

  .forecaster-photo {
    width: $forecaster-photo;
  }

  .forecaster-name {
    background-color: $forecaster-name-background-color;
    color: $forecaster-name-color;
    font-size: 20px;
  }
}

.forecasters-list {
  position: relative;
}

.mask {
  background: $mask-background-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 500;
}

.standings {
  .title {
    font-size: 24px;
  }

  .standing-photo {
    width: $standing-photo;
  }
}

.trophies {
  .title {
    font-size: 24px;
  }

  .forecaster-name {
    font-size: 24px;
  }
}
// Small to large devices
//@media screen and (min-width: 768px) {}
