/* Tableau des bonus */
.tableau--bonus {
	border: 1px solid #fff;
}

.tableau--bonus thead {
	color: #333;
	background-color: #598e83;
}

.tableau--bonus thead th {
	border-bottom: 1px solid #fff !important;
}

.tableau--bonus tbody {
	color: #333;
	background-color: #f1f2f4;
}

.tableau--bonus tbody td {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

/* Tableau des trophées */
.tableau--trophees {
	border: 1px solid #fff;
}

.tableau--trophees thead {
	color: #333;
	background-color: #598e83;
}

.tableau--trophees thead tr:last-child  th {
	border-bottom: 1px solid #fff !important;
}

.tableau--trophees tbody {
	color: #333;
	background-color: #f1f2f4;
}

.tableau--trophees tbody td {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

/* Tableau des classements */
.tableau--classement--bordure {
	border: 1px solid #fff;
}

.tableau--classement thead {
	color: #333;
}

.tableau--classement--entete {
	background-color: #598e83;
	/*color: #000 !important;*/
}

.tableau--classement--entete tr:last-child th {
	border-bottom: 1px solid #fff;
}

.tableau--classement tbody td {
	color: #333;
}

.tableau--classement tbody td.surbrillance {
	color: #fff;
	background-color: #598e83;
}

.tableau--classement--corps td {
	background-color: #f1f2f4;
}

.tableau--classement--corps td.bordure--haut {
	border-top: 1px solid #999;
}

.tableau--classement--top-classement {
	/*color: #fff !important;*/
	/*background-color: #598e83 !important;*/
}

.tableau--classement tr:hover td {
	background-color: #598e83;
}

.tableau--classement tr.neutre:hover td {
	background-color: transparent;
}

.tableau--liste-joueurs {
	color: #333;
}